.input-align-label {
	margin-right: 10px;
	white-space: initial !important;
	overflow: hidden;
	text-overflow: ellipsis;
	flex-grow: 1;
	flex-basis: 360px;
	max-width: 360px;
	min-width: 360px;
}

.csfWidgets label {
	font-size: 15px !important;
	color: #000000 !important;
	line-height: 26px !important;
}

.wizard-form {
	min-width: 800px;
	padding: 10px 10px 0 10px;
}

.label-container label {
	cursor: pointer;
}

.input-align-label .csfWidgets label {
	font-family: Nokia Pure Text Regular, Arial, sans-serif !important;
}

#show-help-label {
	color: #239df9;
}

.label-style {
	white-space: initial;
	font-size: 15px;
	color: #000000;
	line-height: 26px;
	font-family: Nokia Pure Text Regular, Arial, sans-serif;
	overflow: hidden;
	text-overflow: ellipsis;
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	1% {
		opacity: 0.5;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes animateReverse {
	0% {
		visibility: visible;
		opacity: 1;
	}
	1% {
		opacity: 0.5;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0);
	}
}

#display-label-tooltip {
	display: inline-block;
	min-width: 150px !important;
}

.intersection-visible-wrapper {
	height: 100%;
}
